@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.theme {
  max-width: $max-width;
  margin: auto;

  &__title {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 3rem 0;
    text-shadow: 1px 1px 2px #000000;
  }
}
