@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.project-card {
  @include flexbox(row, nowrap, normal, normal);
  box-shadow: 2px 2px 6px $stroke;
  background-color: #030303;
  border-radius: 1rem;
  overflow: hidden;

  &:hover .project-card__title {
    color: $secondary;
  }
  &:active {
    scale: 0.9;
  }
  &__img {
    width: 16rem;
  }
  &__info {
    width: auto;
    padding: 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__title {
    font-size: 1.5rem;
    color: $main;
  }
  &__description {
    max-width: 40rem;
    color: #cecece;
  }
}

@media screen and (max-width: 1355px) {
  .project-card {
    flex-direction: column;

    &__img {
      width: auto;
      height: 12rem;
    }
  }
}
