@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.project-card {
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  position: relative;

  &__img {
    position: relative;
    height: 12rem;
    background-size: cover;
    background-position: top center;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px #666666;
  }
  &__info {
    @include flexbox(column, nowrap, normal, normal);
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
  }
  &__title {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: $main;
  }
  &__link {
    position: absolute;
    bottom: 0;
    right: 0;
    color: $secondary;
    stroke-width: 0.13rem;
    padding: 0.1rem;
    opacity: 0;
  }
  &:hover .project-card__link {
    opacity: 1;
  }
  &:hover .project-card__title {
    color: $secondary;
  }
  &:hover .project-card__img {
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 5px $secondary;
  }
  &__technologies {
    @include flexbox(row, wrap, normal, normal);
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1035px) {
  .project-card {
    grid-template-columns: 1fr;
  }
}
