@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.project-card {
  @include flexbox(row, nowrap, normal, normal);
  gap: 1rem;
  border-radius: 2rem;
  padding: 1rem;
  overflow: hidden;
  width: 100%;
  position: relative;

  &__img {
    position: relative;
    max-width: 25rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px #666666;
  }
  &__info {
    @include flexbox(column, nowrap, normal, normal);
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
  }
  &__title {
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: $main;
  }

  &__link {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: $secondary;
    stroke-width: 0.13rem;
    padding: 0.1rem;
    opacity: 0;
  }
  &:hover .project-card__link {
    opacity: 1;
  }
  &:hover .project-card__title {
    color: $secondary;
  }
  &:hover .project-card__img {
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
  }
}

@media screen and (max-width: 855px) {
  .project-card {
    flex-direction: column;
    &__img {
      max-width: 100%;
      height: 12rem;
    }
  }
}
