@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.project-card {
  @include flexbox(row, nowrap, normal, normal);
  box-shadow: 2px 2px 6px $stroke;
  background-color: #030303;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  color: $white;

  &:hover {
    transform: translateY(-0.4rem);
    outline: 1px solid $main;
  }
  &:active {
    scale: 0.9;
  }
  &__img {
    width: 16rem;
  }
  &__info {
    padding: 1rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__title {
    font-size: 1.5rem;
    color: $main;
  }

  &__link {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: $secondary;
    stroke-width: 0.13rem;
    overflow-y: 1;
    opacity: 0;
  }
  &:hover .project-card__link {
    opacity: 1;
  }
}

@media screen and (max-width: 1355px) {
  .project-card {
    flex-direction: column;

    &__img {
      width: auto;
      height: 12rem;
    }
  }
}
