@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.title {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 3rem 0;
  text-shadow: 1px 1px 3px #000000;
}
