@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.title {
  font-size: 1.8rem;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 1rem 0;
  text-shadow: 1px 1px 3px #000000;
  //   color: $main; // ?
}
