@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.about {
  @include flexbox(row, wrap, center, center);
  gap: 2rem;

  &__container {
    @include flexbox(column, nowrap, normal, top);
    gap: 1rem;
  }
  &__image {
    background-image: url('/src/assets/photo.jpg');
    background-size: cover;
    max-width: 15rem;
    border-radius: 50%;
    box-shadow: 1px 1px 5px $black;
  }
  &__header {
    font-weight: bold;
    display: grid;
    gap: 0.5rem;

    &-name {
      font-size: 2rem;
      color: $main;
    }
    &-subtext {
      text-shadow: 1px 1px $black;
    }
  }
  &__text {
    max-width: 40rem;
    line-height: 1.7;
  }
}
