@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.header-container {
  @include configureImage('/src/assets/header.webp', cover, center);
  @include overlay($overlay-dark);
}

.header {
  position: relative;
  @include flexbox(row-reverse, wrap, space-evenly, center);
  @include maxWidth($max-width);
  padding: 5rem 2rem;
  gap: 2rem;
  color: #dbdbdb;
  min-height: 75dvh;

  &__img {
    background-image: url('/src/assets/photo.jpg');
    background-size: cover;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    box-shadow: 2px 2px 4px #333333;
  }
  &__info {
    display: grid;
    gap: 1rem;
    max-width: 40rem;
  }
  &__title {
    font-size: 2rem;
    color: $white;
  }

  &__social-links {
    display: flex;
    gap: 1rem;
  }

  &__container {
    display: grid;
    gap: 0.3rem;
  }
}

.name {
  font-family: cursive;
  font-style: italic;
  color: $main;
}
.position {
  color: $secondary;
  font-style: italic;
}

@media screen and (max-width: 1100px) {
  .header {
    padding: 3rem 2rem;
  }
  .header-container {
    @include configureImage('/src/assets/header.webp', cover, top);
  }
}
