@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.main {
  max-width: $max-width;
  margin: auto;
  padding: 1rem;
}

.main > article {
  min-height: 50dvh;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

@media screen and (max-width: 1355px) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }
}
