@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.main {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin: auto;
  padding: 0 1rem;

  &__projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
    gap: 1rem;
  }
}

@media screen and (max-width: 1355px) {
  .main__projects {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }
}

.list-stack {
  @include flexbox(row, wrap, space-evenly, center);
  gap: 2rem;

  &__icons {
    height: 2.2rem;
  }
}
