@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.main {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  margin: auto;
  padding: 0 1rem 3rem;

  &__projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
    gap: 1rem;
  }

  &__about {
    @include flexbox(row, wrap, center, top);
    gap: 2rem;

    &__image {
      max-width: 20rem;
      border-radius: 2rem;
      box-shadow: 1px 1px 5px $black;
    }
    &__text {
      max-width: 40rem;
      font-size: 1.1rem;
      line-height: 1.7;
    }
  }
}

@media screen and (max-width: 1355px) {
  .main__projects {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }
}

.list-stack {
  @include flexbox(row, wrap, space-evenly, center);
  gap: 2rem;

  &__icons {
    height: 2.2rem;
  }
}
