@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: $max-width;
  margin: auto;
  padding: 0 1rem 3rem;

  &__projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
    gap: 1rem;
  }
}

.about {
  @include flexbox(row, wrap, center, top);
  gap: 2rem;

  &__container {
    @include flexbox(column, nowrap, normal, top);
    gap: 1rem;
  }
  &__image {
    max-width: 20rem;
    border-radius: 50%;
    box-shadow: 1px 1px 5px $black;
  }
  &__header {
    font-weight: bold;
    display: grid;
    gap: 0.5rem;
  }
  &__name {
    font-size: 2rem;
  }
  &__subtext {
    text-shadow: 1px 1px $black;
  }
  &__text {
    max-width: 40rem;
    line-height: 1.7;
  }
}

@media screen and (max-width: 1355px) {
  .main__projects {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }
}

.list-stack {
  @include flexbox(row, wrap, space-evenly, center);
  gap: 2rem;

  &__icons {
    height: 2.2rem;
  }
}
