@use '../utilities/mixin' as *;
@use '../utilities/variables' as *;

.projects {
  max-width: $max-width;
  margin: auto;

  &__container {
    @include flexbox(row, wrap, normal, normal);
    gap: 1rem;
  }
}

.color-palette {
  background-image: url('/src/assets/color-palette.webp');
}
.pokedex {
  background-image: url('/src/assets/pokedex.webp');
}
.rick-and-morty {
  background-image: url('/src/assets/rick-and-morty.webp');
}
.nasa {
  background-image: url('/src/assets/nasa.webp');
}
