// Themes
$dark: #242424;
$light: #efefef;

// Typography
$main-source: 'JetBrains Mono', sans-serif;
$source-of-title: 'Space Ranger', sans-serif;

// Basic
$white: #fff;
$black: #000;

// Customs
$main: #ff9d00;
$secondary: #00ffe5;
$stroke: #1b1919;
$filter: #ffffff90;
$modal: #000000a9;
$overlay-dark: #000000a9;

// Sizes
$max-width: 1200px;
