// Themes
$dark: #242424;
$light: #efefef;

// Typography
$main-source: 'JetBrains Mono', sans-serif;
$source-of-title: 'Space Ranger', sans-serif;

// Basic
$white: #fff;
$black: #000;

// Customs
$main: #7135ee;
$secondary: #8e2056;
$stroke: #1b1919;
$filter: #ffffff90;
$modal: #000000a9;
$overlay-dark: #0000008c;

// Sizes
$pages-min-height: calc(100vh - 61px);
